/* Styles go here */
body{
    padding-top: 100px;
}
.container{
    margin:0 auto;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}
.carousel{
    height:100%;
    transition: all 0.3s ease-out;
    position: relative;

}
figure{
    position:relative;
    backface-visibility: hidden;
    margin: 0;
    display: inline-block;
    transition: all 0.3s ease-in;
}
.cover{
    background-image:url("cover_1.png");
}
.book{
    background-image: url("cover_2.png");
}
figure.rotate-left{
    transform-origin: center center;
    transform: perspective(1000px) rotateY(65deg);
}
figure.rotate-right{
    transform-origin: center center;
    transform: perspective(1000px) rotateY(-62deg);
}
figure.middle{
    margin-left: 40px;
    transform:rotateY(0deg);
}
figure .frame{
    position: absolute;
    background-color:gray;
    height:100%;
    transform-origin: center center;
    box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    text-align:center;
    overflow:hidden;
    transition: all 0.3s ease-in;
    position: absolute;
    top:0;
    left: 0;
    z-index: 100;
    backface-visibility: hidden;
    transform:scale(1) rotateY(0deg);


}
figure .back{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    text-align:center;
    transform: scale(1) rotateY(180deg);
    transition: all 0.3s ease-in;
    backface-visibility: hidden;
}
figure.main{

    transition: all 0.3s ease-in;
}
figure.main .frame{
    border: 1px solid blue;
    transform: scale(1.2);
}
figure .frame .title{
    display:block;
    font-size:20px;

}
figure .frame .duration{
    display:block;
    bottom:10px;
    font-size:20px;
}
.prev{
    position: absolute;
    left: 0;
    top: 50%;
}
.next{
    position: absolute;
    right: 0;
    top: 50%;
}
